    <div class="add-task-page">
        <h1 class="add-task">Add Task</h1>
        <h3 class="answers">What do you have to do?</h3> 
            <input type="text" placeholder="New To-Do" id="new-to-do">
        <h3 class="answers">How long will it take?</h3>
            <input type="number" step="5" placeholder="Time (minutes)" id="#new-time">
        <h3 class="answers">How many days is it due in?</h3>
            <input type="number" placeholder="Days Till Due" id="new-days">
        <h3 class="answers">Description (optional)</h3>
            <input type="text" placeholder="Description (optional)" id="new-description">
        <p>
            <span><input id="final-add" type="submit" value="Add To-Do"></span>
            <form action="index.html">
            <span><input id="back" type="submit" value="Back"></span>
            </form>
        </p>
    </div>
