<!DOCTYPE html>
<html>
    <head>
        <title> Random </title>
    </head>
    <body>
        <h1>THE GOAT</h1>
        <p>
            i am the goat dont @ me
        </p>
    
    </body>
    
</html>