<!DOCTYPE html>
<html>
    <head>
        <title> Random </title>
    </head>
    <body>
        <h1>
            To-Do List
        </h1>
        <p>
            
        </p>

         <ul>
             <li>
                 <input type="checkbox">
                 <a href="show.html">walk the dog</a>
                 <span class="minutes">30 min</span>
                 <span class="days-till-due">3 days</span>
             </li>
             <li>
                 <input type="checkbox">
                 <a href="show.html">read</a>
                 <span class="minutes">50 min</span>
                 <span class="days-till-due">2 days</span>
             </li>
             <li>
                 <input type="checkbox">
                 <a href="show.html">hangout</a>
                 <span class="minutes">60 min</span>
                 <span class="days-till-due">6 days</span>
             </li>
         </ul>
         
         
         
         <p class="button">
            <div style="text-align:center;">
            <form action="AddTask.html">
            <input id="add-a-to-do" type="submit" value="Add To-Do">
            </form>
            </div>
         </p>

    </body>
    
</html>