        <h3>Todo #<% params[:id] %></h3>
        <div class="show-page">
          <h1 class="task-details">Task Details</h1>
          <h3 class="show-headers">Task</h3>
          <p>
              <%=@todo_name%>
          </p>
          <h3 class="show-headers">Time</h3>
          <p>
              <%=@todo_time%>
          </p>
          <h3 class="show-headers">Days Till Due</h3>
          <p>
              <%=@todo_days%>
          </p>
          <h3 class="show-headers">Description</h3>
          <p>
              <%=@todo_description%>
          </p>
          <input id="Delete" type="submit" value="Delete">
          <input id="Edit" type="submit" value="Edit">
          <form action="index.html">
          <span><input id="back" type="submit" value="Back"></span>
          </form>